// COLORS
$rusty-yellow: #AC6622;
$pale-ocean: #AFCBCB;
$darkest-grey: #2d3437;
$white: #fff;
$btn-disabled-fill: #646464;
$grey: #A1B6B6;
$black: #000;

// BREAKPOINTS
$bp-tablet: 640px;
$bp-desktop: 1366px;