button {
  // TODO: Hover effect
  &.btn {
    &-primary, &-secondary, &-contrast {
      font-family: $font-secondary;
      font-size: rem(15px);
      border-radius: 28px;
      border: 0;
      box-shadow: 3px 6px 6px rgba(0, 0, 0, 0.5);
      padding: {
        top: 19px;
        bottom: 17px;
        left: 50px;
        right: 50px;
      }
      margin: {
        bottom: 16px;
        right: 16px;
        top: 16px;
      }
      @media screen and (min-width: $bp-tablet) {
        hyphens: none;
      }
      @media screen and (min-width: $bp-desktop) {
        font-weight: 500;
        &:last-of-type {
          margin-right: 0;
        }
      }
    }
    &-secondary {
      color: $black;
    }
    &-primary {
      background: $rusty-yellow;
      color: $black; // Changed from white --> black because of AA contrast
      @at-root html[data-whatinput="keyboard"] {
        button.btn-primary:focus {
          outline: 3px solid $white;
        }
      }
    }
    &-contrast {
      background: $pale-ocean;
    }
  }
}