button {
  // TODO: Hover effect
  &.btn {
    &-primary, &-secondary, &-contrast {
      font-family: $font-secondary;
      font-size: rem(15px);
      cursor: pointer;
      border-radius: 28px;
      border: 0;
      box-shadow: 3px 6px 6px rgba(0, 0, 0, 0.5);
      padding: {
        top: 19px;
        bottom: 17px;
        left: 50px;
        right: 50px;
      }
      margin: {
        bottom: 16px;
        right: 16px;
        top: 16px;
      }
      @media screen and (min-width: $bp-tablet) {
        hyphens: none;
      }
      @media screen and (min-width: $bp-desktop) {
        font-weight: 500;
        &:last-of-type {
          margin-right: 0;
        }
      }
    }
    &-primary {
      background: $rusty-yellow;
      color: $white;
    }
    &-contrast {
      background: $pale-ocean;
    }
  }
}